
/*
#################################   GLOBAL   #################################
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* html {
  scroll-behavior: smooth;
} */

body{
    background-color: whitesmoke;
}



h1 {

  text-align: center;
  background-color: black;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #000000;
}

h1 img {
  width: 100px;
}

/*
#################################   BOUTON   #################################
*/

button{

    cursor: pointer;
    position: relative;
    width: 409px;
    height: 68px;
    background-color: rgba(165, 36, 32, 1);
    border: none;
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2rem;
}

button:hover { 
    background-color:  rgb(216, 27, 20);
}

button:active {
    top: 8px;
}

/*
#################################   HEADER   #################################
*/

.dropbtn:active {
    top: 0px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin-top: 15px;
    margin-left: 0px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 2em;
    border: none;
    text-transform: uppercase;
    border-radius: 0%;
    text-align: left;
  }

  .dropbtn:hover {
    background-color: transparent;
    cursor: pointer;
  }

  .dropbtn img {
    width: 30px
}
    
  .dropdown:hover .dropdown-content {
    padding-top: 20px;
    text-transform: uppercase;
    border-right: 5px solid white;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 10px;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
  }
  
  .news-menu {
    display: none;
    position: absolute;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100vw - 17px);
    height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-transform: uppercase;
  }

  .dropdown:hover .news-menu {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 65px;
  }
  
.news {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.news img {
    height: 336px;
    width: 476px;
}


/*
#################################   MAIN  #################################
*/

h2 {

    color: black;
    text-align: center;
    font-size: 5rem;
    padding: 2% 0;
}

p {

  text-align: justify;
  font-size: 1.5em;
  
}

/* ########## TABLEAU ########## */

.table-left {

  display: flex;
  flex-direction: row;
  margin-top: 3%;
  gap: 2%;
  align-items: stretch;
}

.blueTable {
  border: 3px solid black;
  background-color: whitesmoke;
  width: 25%;
  border-collapse: collapse;
  white-space: nowrap;

}
table.blueTable td, table.blueTable th {
  border: 0px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 18px;
  text-align: left;
}
table.blueTable tr:nth-child(even) {
  background: #ede4c8;
}
table.blueTable thead {
  background: black;
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 0px solid #D0E4F5;
  text-align: center;
}

/*
#################################   FOOTER  #################################
*/

h4 {
    color: white;
    font-size: 80px;
    background-color: black;
}


.mySwiper{
  /* height: 1000px; */
  margin-bottom: 1rem;
}

.swiper-slide{
  margin-bottom: 10rem !important;
}

.container-all{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;  
}

.container-planet{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}


.imgplanet img{
  filter: drop-shadow(0px 0px 10px #000000);
  background-color: black;
}

.img-table{
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  gap: 1rem !important;
}

.paragraph {
  padding: 2rem 0;
  text-align: justify;
}

.swiper-pagination-clickable {
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-pagination {
  text-align: center !important;
  align-items: center !important;
  justify-content: center !important;
  padding-bottom: 3rem;
}

.swiper-pagination span:hover{
  filter: drop-shadow(5px 0px 10px #00000080) drop-shadow(-5px 0px 10px #00000080) drop-shadow(0px 5px 10px #00000080) drop-shadow(0px -5px 10px #00000080);
  opacity: 1;
  color: white;
}

.swiper-pagination span{
  padding: 0 1rem !important;
  width: 117px !important;
  height: 50px !important;
  display: inline-grid !important;
  justify-items: center !important;
  align-content: center !important;
}

.swiper-pagination-bullet{
  background: none !important;
}

.swiper-pagination-bullet-active{
  background: none !important;
  filter: drop-shadow(0px 10px 15px #00196a80) drop-shadow(0px -10px 15px #00196a80) drop-shadow(10px 0px 15px #00196a80) drop-shadow(-10px 0px 15px #00196a80);
  color: white;
}

:root{
  --swiper-pagination-bullet-inactive-opacity: 0.4;
}
