
/*
#################################   GLOBAL   #################################
*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/* html {
  scroll-behavior: smooth;
} */

body{
    background-color: whitesmoke;
}



h1 {

  text-align: center;
  background-color: black;
  font-size: 100px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #000000;
}

h1 img {
  width: 100px;
}

/*
#################################   BOUTON   #################################
*/

button{

    cursor: pointer;
    position: relative;
    width: 409px;
    height: 68px;
    background-color: rgba(165, 36, 32, 1);
    border: none;
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2rem;
}

button:hover { 
    background-color:  rgb(216, 27, 20);
}

button:active {
    top: 8px;
}

/*
#################################   HEADER   #################################
*/

.dropbtn:active {
    top: 0px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin-top: 15px;
    margin-left: 0px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 2em;
    border: none;
    text-transform: uppercase;
    border-radius: 0%;
    text-align: left;
  }

  .dropbtn:hover {
    background-color: transparent;
    cursor: pointer;
  }

  .dropbtn img {
    width: 30px
}
    
  .dropdown:hover .dropdown-content {
    padding-top: 20px;
    text-transform: uppercase;
    border-right: 5px solid white;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 10px;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
  }
  
  .news-menu {
    display: none;
    position: absolute;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100vw - 17px);
    height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-transform: uppercase;
  }

  .dropdown:hover .news-menu {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 65px;
  }
  
.news {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.news img {
    height: 336px;
    width: 476px;
}


/*
#################################   MAIN  #################################
*/

h2 {

    color: black;
    text-align: center;
    font-size: 5rem;
    padding-bottom: 2%;
}

p {

  text-align: justify;
  font-size: 1.5em;
  
}

.paragraph {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 75%;

}

.scroll-vertical {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shadow-img {
  filter: drop-shadow(0px 0px 10px #000000);
}

.scroll-horizon {
  width: 1100px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  overflow-x: scroll;
  overflow: hidden;
  margin-bottom: 3%;
  margin-top: 1%;
  scroll-behavior: smooth;
}

.page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-planets img {

    border: 10px solid black;
}


/* ########## TABLEAU ########## */

.table-left {

  display: flex;
  flex-direction: row;
  margin-top: 3%;
  gap: 2%;
  align-items: stretch;
}

.blueTable {
  border: 3px solid black;
  background-color: whitesmoke;
  width: 25%;
  border-collapse: collapse;
  white-space: nowrap;

}
table.blueTable td, table.blueTable th {
  border: 0px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 18px;
  text-align: left;
}
table.blueTable tr:nth-child(even) {
  background: #ede4c8;
}
table.blueTable thead {
  background: black;
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 0px solid #D0E4F5;
  text-align: center;
}

/*
#################################   FOOTER  #################################
*/

h4 {
    color: white;
    font-size: 80px;
    background-color: black;
}




