
/*
#################################   GLOBAL   #################################
*/
html {
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

body{
    background-color: whitesmoke;
}

h2{
    font-size: 80px;
}

/*
#################################   BOUTON FUSEE   #################################
*/

.boutonfusee {

    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 99;
    border: none;
    outline: none;
    bottom: 5px;
    right: 5px;
}


.boutontop:hover {

    cursor: pointer;
    filter: drop-shadow(0 40px 10px #ff8800);
}

.textfusee {

    position: absolute;
    bottom: 25px;
    text-align: center;
    color: black;
    /* text-shadow: 0px 0px 10px #000000;
    border: 3px solid #8e8e8e;
    border-radius: 50% 50% 13% 13% / 62% 62% 30% 30% ;
    background-color: #8e8e8e; */
}

/*
#################################   BOUTON   #################################
*/

button{

    cursor: pointer;
    position: relative;
    width: 409px;
    height: 68px;
    background-color: rgba(165, 36, 32, 1);
    border: none;
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2rem;
    box-shadow: 5px 5px 15px 5px #000000;
}

button:hover { 
    background-color:  rgb(216, 27, 20);
}

button:active {
    top: 8px;
}

/*
#################################   HEADER   #################################
*/

.dropbtn:active {
    top: 0px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    margin-top: 15px;
    margin-left: 0px;
}

.dropbtn {
    background-color: transparent;
    color: white;
    margin-top: 50px;
    margin-left: 10px;
    font-size: 2em;
    border: none;
    text-transform: uppercase;
    border-radius: 0%;
    text-align: left;
  }

  .dropbtn:hover {
    background-color: transparent;
    cursor: pointer;
  }

  .dropbtn img {
    width: 30px
}
    
  .dropdown:hover .dropdown-content {
    padding-top: 20px;
    text-transform: uppercase;
    border-right: 5px solid white;
    padding-left: 2em;
    padding-right: 2em;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 10px;
    font-size: 1.2em;
    text-decoration: none;
    display: block;
  }
  
  .news-menu {
    display: none;
    position: absolute;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100vw - 17px);
    height: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-transform: uppercase;
  }

  .dropdown:hover .news-menu {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: 45px;
  }
  
.news {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    /* text-wrap: nowrap; */
    text-align: center;
    gap: 10%;
}

.news img {
    height: 336px;
    width: 476px;
    border: 3px inset rgb(234, 234, 234);
}


/*
#################################   TITRE & HERO   #################################
*/

h1 {

    text-align: center;
    background-color: black;
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: #000000;
}

h1 img {
    width: 100px;
}

.phrase-hero {

    display: flex;
    justify-content: center;
    color: white;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
}

.image-hero {
    background-image: url("images/nasa-yZygONrUBe8-unsplash2.jpg");
    height: 500px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
}

.titre-hero {
    color: white;
    font-size: 128px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

/*
#########################   CARTE SYSTEME SOLAIRE   ##########################
*/

#popup-overlay {

    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;    
    display: none;
}

#popup-overlay.open {

    display: block;
}

.popup-content {
    
    max-width: 1600px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 2em;
    border-color: white;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 10px #4a18ff);
}


.planet {
    max-width: 177px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.2);
    font-size: 4em;
}

.planet img:hover {
    
    filter: drop-shadow(0 0 100px white);
    cursor: pointer;
}

.planet-venus {

    max-width: 80px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.2);
    font-size: 4em;
    padding-left: 20px;
    padding-right: 15px;
}
.planet-venus img:hover {
    
    filter: drop-shadow(0 0 100px white);
    cursor: pointer;
}

.planet-mars {

    max-width: 80px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.2);
    font-size: 4em;
    padding-right: 5%;
}
.planet-mars img:hover {
    
    filter: drop-shadow(0 0 100px white);
    cursor: pointer;
}

.planet-saturn {

    max-width: 180px;
    width: 100%;
    max-height: 350px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0.2);
    font-size: 4em;
    padding-left: 5%;
}
.planet-saturn img:hover {
    
    filter: drop-shadow(0 0 100px white);
    cursor: pointer;
}


.text-planet {
    
    padding-top: 5%;
    color: white;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #4a18ff, 0 0 30px #4a18ff, 0 0 40px #4a18ff, 0 0 55px #4a18ff, 0 0 75px #4a18ff;
}

.text-solar-clic {

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #4a18ff, 0 0 30px #4a18ff, 0 0 40px #4a18ff, 0 0 55px #4a18ff, 0 0 75px #4a18ff;
    text-align: center;
    text-wrap: nowrap;
}

.popup-exit {

    position: absolute;
    top: 0px;
    right: 0px;
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    padding: 5px 15px;
    border-radius: 50px;
    border-color: white;
    border-style: groove;
    }

.image-container-solar {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: 100px; */
    /* width: 1598px; */
    width: 1600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.solar-map-img {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin-bottom: -100px;
}

.image-text-solar {

    display: flex;
    justify-content: center;
    color: white;
    font-size: 83px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    paint-order: stroke;
}    

/*
#################################   MAIN  #################################
*/

.articles{
    &>div{
        height: 500px;
        display:flex;
        flex-direction: row;
        margin-top: 100px;

        &>div{
            margin-top: 0px;
            text-align: center;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }

    }
    &>.text-right{
        justify-content: flex-end;
        background-repeat: no-repeat;
        background-size: cover;
        &>div{
            background-color: transparent;
            margin-right: 5%;
            width: 680px;
            &>h2{
                color: white;
                background-color: transparent;
            }
        }
    }
    &>.text-left{
        justify-content:center;
        padding-right: 5%;
        &>div{
            width: 780px;
            padding-right: 10%;
            padding-left: 10%;
            &>p{
                font-size: 48px;
            }
        }
    }
}

.text-left img {
    box-shadow: 5px 5px 15px 5px #000000;
}

/*
#################################   FOOTER  #################################
*/

h4 {
    color: white;
    font-size: 80px;
    background-color: black;
}




